---
import { siteConfig } from '../../config/siteConfig';
import Layout from "../../layouts/Layout.astro";
import Contact from "./_Contact.svelte";
import {
  Section,
  HeroHeader,
  FeatureDefault,
  FeatureItem,
} from "flowbite-svelte-blocks";
import { MailBoxSolid, TwitterSolid, LinkedinSolid, GithubSolid, DiscordSolid, FacebookSolid } from "flowbite-svelte-icons";
const iconMap = {
    github: GithubSolid,
    /*
    linkedin: LinkedinSolid,
    twitter: TwitterSolid,
    discord: DiscordSolid,
    facebook: FacebookSolid,
    */
} as const;
---

<Layout title="Contact">
  <Section name="feature">
    <FeatureDefault>
      {siteConfig.social.filter(link => link.icon === 'github').map((link) => (
        <a href={link.href} target="_blank" rel="noopener noreferrer"> {/* Added target/rel for external links */}
          <FeatureItem>
            {link.icon && iconMap[link.icon] && (
              <svelte:fragment slot="icon">
                <GithubSolid class="text-4xl" />
                {/*
                <svelte:component class="text-4xl" this={iconMap[link.icon]} />
                */}
              </svelte:fragment>
            )}
            <svelte:fragment slot="h3">{link.label}</svelte:fragment>
            <svelte:fragment slot="paragraph">
              {link.description || `Connect with me on ${link.label}.`}
            </svelte:fragment>
          </FeatureItem>
        </a>
      ))}
  {/*
      <a href="mailto:x@gmail.com">
        <FeatureItem>
          <svelte:fragment slot="icon">
            <MailBoxSolid class="text-4xl" />
          </svelte:fragment>
          <svelte:fragment slot="h3">Email</svelte:fragment>
          <svelte:fragment slot="paragraph">
            Send me an email.
          </svelte:fragment>
        </FeatureItem>
      </a>
      <a href="https://twitter.com/x">
        <FeatureItem>
          <svelte:fragment slot="icon">
            <TwitterSolid class="text-4xl" />
          </svelte:fragment>
          <svelte:fragment slot="h3">Twitter</svelte:fragment>
          <svelte:fragment slot="paragraph">
            Follow me on Twitter.
          </svelte:fragment>
        </FeatureItem>
      </a>
      <a href="https://www.linkedin.com/in/x/">
        <FeatureItem>
          <svelte:fragment slot="icon">
            <LinkedinSolid class="text-4xl" />
          </svelte:fragment>
          <svelte:fragment slot="h3">LinkedIn</svelte:fragment>
          <svelte:fragment slot="paragraph">
            Connect with me on LinkedIn.
          </svelte:fragment>
        </FeatureItem>
  */}
    </FeatureDefault>
  </Section>
</Layout>
